@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Nunito&family=Roboto+Mono:wght@200;300;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito' sans-serif;
    color: white;
    background-color: black;
    line-height: 1.5;
    width: 100%;
}

/* START NAV BAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    opacity: 0.8;
    z-index: 5;
}

.navbar li {
    font-family: 'roboto mono', sans-serif;
    font-size: .8rem;
    color: silver;
    text-decoration: none;
    list-style: none;
    z-index: 5;
    padding: 1rem;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar li a {
    font-family: 'roboto mono', sans-serif;
    font-size: .8rem;
}

.navbar li a:hover {
    color: rgb(0, 204, 255);
    text-decoration: overline;
    z-index: 5;
}
/* END NAV BAR */


/* START WELCOME SECTION */
#welcome-section {
    width: 100vw;
    height: 100vh;
    z-index: 2; 
    background-image: url(jumping.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#welcome-section h1 {
    margin: 0;
    padding-left: 1.5rem;
    padding-top: 3rem;
    margin-left: 2rem;
    font-size: 2rem;
    color: white;
}

#welcome-section h2 {
    font-size: 1.5rem;
    padding: 1.5rem;
    margin-left: 2rem;
    color: white;
    word-spacing: 2px;
    letter-spacing: 5px;
    text-decoration: underline;
}
/* END WELCOME SECTION */

/* START PROJECT SECTION */
#projects {
    width: 100vw;
    height: 100vh;
    z-index: 2; 
    background-image: url(guata.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#projects h3 {
    margin: 0;
    padding: 1rem;
    font-size: 2rem;
    color: white;
    word-spacing: 2px;
    letter-spacing: 5px;
    text-decoration: underline;
}

#projectsbar {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    align-items: center;
    font-size: 1.5rem;
    word-spacing: 2px;
    letter-spacing: 5px;
}

#projectsbar a {
    color: rgb(26, 147, 184);
    text-decoration: none;
    z-index: 2;
}

#projectsbar a:hover {
    color: #40e0d0;
    font-weight: bold;
    z-index: 2;
    text-decoration: overline;
}

/* END PROJECT SECTION */

/* START SKILLS SECTION */
#skills {
    width: 100vw;
    height: 100vh;
    background-image: url(jerico.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

#skills h3 {
    margin: 0;
    padding: 1rem;
    font-size: 2rem;
    color: white;
    text-decoration: underline;
    word-spacing: 2px;
    letter-spacing: 5px;
}

.skill-flex {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 1rem;
    margin-top: 8rem;
    gap: 1rem;
}

#skills h2 {
    font-family: 'Roboto',sans-serif;
    word-spacing: 1px;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.821);
}

#skills li {
    font-weight: bold;
    line-height: 2;
    list-style: none;
    color: rgb(248, 81, 109);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    word-spacing: 0px;
    letter-spacing: 0px;
}

.info {
    background-color: white;
    opacity: 0.8;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
}

.tech {
    background-color: white;
    opacity: 0.8;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
}
/* END SKILLS SECTION */

/* START CONTACT SECTION */
#contact {
    width: 100vw;
    height: 100vh;
    z-index: 2; 
    background-image: url(medellin.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact h3 {
    text-align: left;
    font-size: 2rem;
    color: white;
    word-spacing: 2px;
    letter-spacing: 5px;
    text-decoration: underline;
    padding: 1rem;
    margin: 0;
}

#contact h6 {
    width: 45%;
    margin-left: auto;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    align-items: flex-end;
    text-align: center;
    font-size: 1.5vw;
    color: white;
    list-style: none;
    word-spacing: 2px;
    letter-spacing: 1px;
    line-height: 3;
    padding: 1rem;
    background-color: rgba(103, 101, 101, 0.609);
    border-radius: 1rem;
}

#contact li {
    font-family: 'roboto mono', sans-serif;
}

/* FOOTER */

#logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 5px;
    background-color: silver;
    
}

.social-media {
    display: inline-block;
    width: 40px; 
    height: auto; 
    background-color: white;
    border-radius: 1rem;
    border: 1px solid white;
}

#linkedin {
    width: 5vw;
    text-align: left;
    opacity: 0.85;
    z-index: 3;
}

#instagram {
    width: 5vw;
    text-align: left;
    opacity: 0.85;
    z-index: 3;
}

#codepen {
    width: 5vw;
    text-align: left;
    opacity: 0.85;
    z-index: 3;
}

#github {
    width: 5vw;
    text-align: left;
    opacity: 0.85;
    z-index: 3;
}

#youtube {
    width: 5vw;
    opacity: 0.85;
    z-index: 3;
}

.social-media:hover {
    border-radius: 2rem;
}


/* END CONTACT SECTION */

@media only screen and (max-width: 800px) {
    .skill-flex {
        flex-direction: column;
        margin-top: 1rem;
    }

    #contact h6 {
        width: 60%;
        font-size: 2vw;
    }
}